html, body {
    height:100%;
}
.grid-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height:100%;
}
.grid-item {
    flex: 50%;
    margin: auto; 
}
.current-letter {
    font-weight: bold;
    color:red;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }

.selectedState {
    font-size: 20px;
}

/* .node rect{
    fill: white;
    stroke: #000!important;
} */
.nodeLabel {
    user-select: none!important;
}

.mermaid {
    border: 1px solid black;
    min-height: 100px;
}

.mermaid-large {
    min-height:300px;
}

.no-height {
    min-height: auto;
}

.btn-xs {
    padding: .25rem .4rem;
    font-size: .875rem;
    line-height: .5;
    border-radius: .2rem;
}

.sized-box {
    overflow-y: auto;
    height:150px;
}

