html, body {
    height:100%;
}
.grid-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height:100%;
}
.grid-item {
    flex: 50%;
    margin: auto; 
}
.current-letter {
    font-weight: bold;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }